* {
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
}

.btn {
    border-radius: 5px;
    background: #FD6E0A;
    border: 0;
    font-size: 20px;
    color: white;
}

.utitle {
    color: #181818;
    font-size: 35px;
    text-align: center;
    font-weight: 700;
}

header {
    background: #FFF8F3;
    background-image: url('images/header_bg.png'), url('images/developer.png');
    background-repeat: no-repeat;
    background-position: bottom right, 20px 0px;
    background-size: auto, contain;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px 130px;
}

nav h3 {
    font-size: 45px;
    color: #181818;
    font-weight: 800;
}

span {
    color: #FD6E0A;
}

nav ul {
    display: flex;
    align-items: center;
    gap: 50px;
}

nav ul li {
    list-style: none;
}

nav a {
    text-decoration: none;
    font-size: 20px;
    color: #474747;
}

nav button {
    padding: 18px 35px;
}

.dbtn,
.cbtn {
    padding: 18px 35px;
}

.banner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 130px;
}

.profile-pik {
    width: 500px;
}

.banner-info h3 {
    font-size: 45px;
    font-weight: 600;
    color: #474747;
}

.banner-info h1 {
    font-size: 85px;
    color: #181818;
}

.profile-desc {
    width: 500px;
    font-size: 18px;
    color: #757575;
    margin: 20px 0;
}

/* about section */

section {
    margin: 130px;
}

.about {
    border-radius: 10px;
    background: #FFF8F3;
    padding: 130px 0;
}

.aboutDesc {
    color: #757575;
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    margin: 30px 150px;
}

.dataContainer {
    display: flex;
    justify-content: center;
    gap: 50px;
}

.t,
.v {
    text-align: center;
    font-size: 20px;
    line-height: 30px;
    color: #757575;
}

.v {
    color: #474747;
    font-weight: 700;
}

.skillDesc {
    color: #757575;
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    width: 800px;
    margin: 30px auto 80px;
}

.skilContainer {
    display: flex;
    justify-content: center;
    gap: 25px;
}

.sCard {
    width: 267px;
    padding: 30px;
    border-radius: 5px;
    background: #FFF;
    box-shadow: 0px 6px 50px 0px rgba(0, 0, 0, 0.06);
}

.sTitle {
    font-weight: 700;
    font-size: 20px;
    color: #181818;
    margin: 30px 0 20px;
}